body {
    display: flex;
    justify-content: center;
}

.main-window > div > div p {
    text-align: center;
}

.image-fortuneteller {
    display: flex;
}

.image {
    background-image: url("img/гадалка.jpg");
    background-repeat: no-repeat;
    background-size: 100px;
    height: 130px;
    width: 100px;
    margin: auto;
    position: relative;
}

.sprite-lip {
    position: absolute;
    background-image: url("img/sprite lip.png");
    background-repeat: no-repeat;
    background-size: 17px;
    height: 6px;
    width: 16px;
    top: 45%;
    left: 44%;
    animation: extraLip 2s ease-in-out forwards;
}

.image > span {
    position: absolute;
    top: 72%;
    left: 49%;
    font-family: 'Dancing Script', cursive;
    font-size: 7px;
    animation: reflectionTheCorrectNumber .2s ease forwards;
}


.form-number-extra {
    display: flex;
    justify-content: center;
    margin: auto;
}

.formm-make-number {
    display: flex;
    justify-content: center;
    margin: auto;
}

.disabled {
    display: none;
}

.matchId {
    color: red;
    cursor: pointer;
}

#dataOne {
    width: 180px;
    margin-right: 20px;
}

#dataTwo {
    width: 180px;
    margin-right: 20px;
}

td {
    text-align: center;
}

li {
    padding-left: 8px;
}

@keyframes extraLip {
    0% {
        background-image: url("img/lip one.png");
    }
    12% {
        background-image: url("img/lip two.png");
    }
    25% {
        background-image: url("img/lip three.png");
    }
    37% {
        background-image: url("img/lip two.png");
    }
    50% {
        background-image: url("img/lip three.png");
    }
    63% {
        background-image: url("img/lip two.png");
    }
    75% {
        background-image: url("img/lip three.png");
    }
    87% {
        background-image: url("img/lip two.png");
    }
    100% {
        background-image: url("img/lip one.png");
    }
}

@keyframes reflectionTheCorrectNumber {
    0% {
        top: 73%;
        left: 51%;
        font-size: 3px;
    }
    25% {
        top: 72%;
        left: 49%;
        font-size: 9px;
    }
    50% {
        top: 71%;
        left: 49%;
        font-size: 10px;
    }
    75% {
        top: 69%;
        left: 48%;
        font-size: 13px;
    }
    100% {
        top: 67%;
        left: 45%;
        font-size: 18px;
    }
}
